<!--
  Generated template for the TakslistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>makanan favorit</ion-title>
    <ion-buttons end>
      <button ion-button icon-start (click)="AddItem()">
        <ion-ion name="add-circle"></ion-icon>
          Add Item
      </button>
  </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <icon-item-sliding  *ngfor="let task of task" #slidingItem>
      <ion-item [ngClass]="{taskDone: task.status =='done'}">[{task.title}]</ion-item>
      <ion-Item-Options slide="right">
        <button ion-button icon-only color="secondary" (click)="markAsDone(slidingItem, task)">
          <ion-ion name="checkmark-circle"></ion-ion>
        </button>
        <button ion-button icon-only color ="danger" (click)="removeTask(slidingItem, task)"></button>
        <ion-ion name"trash"></ion-ion>
      </ion-Item-Options>
    </icon-item-sliding>
    </ion-list>
</ion-content>
